img {
    height: 200px;
    width: 200px;
}

.imgDiv {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-color: #dddddd;
    text-align: center;
}

.itemDiv {
    padding-top: 20px;
    height: 280px;
    width: 280px;
    text-align: center;
}

.desc {
    text-align: justify;
    word-wrap: break-word;
}

.likesDiv {
    display: inline-flex;
    margin-top: 10px;
}

.likes {
    margin-left: 20px;
}

